extends ../../layouts/LayoutTheme

block content
  .mb-9
    .mx-n4.mx-lg-n6.mt-n5.position-relative.mb-md-9(style='height:208px')
      +Background({image:`${CWD}assets/img/bg/bg-40.png`, attrs: { style: { 'background-size': 'cover',} }, className: 'bg-card d-dark-none' })
      +Background({image:`${CWD}assets/img/bg/bg-dark-40.png`, attrs: { style: { 'background-size': 'cover',} }, className: 'bg-card d-light-none' })
      .faq-title-box.position-relative.bg-white.border.border-200.p-6.rounded-3.text-center.mx-auto
        h1 How can we help?
        p.my-3 Search for the topic you need help with or 
          a(href='#!') contact our support
        .search-box.w-100&attributes(attributes)
          form.position-relative(data-bs-toggle="search" data-bs-display="static")
            input.form-control.search-input.search(type='search' aria-label='Search')
            span.fas.fa-search.search-box-icon


    .row.gx-xl-8.gx-xxl-11.gy-6.faq
      - 
        var categories = [
          {
            id: 'sale-101',
            name: 'Sales',
            icon: 'fa-solid fa-chart-pie',
            description: 'Answer the most frequently asked questions about your products & services here.',
            category: 'popular',
            topFaqs: [
              {
                que: 'How can I purchase your services?',
                ans: 'You can mail us at info@phoenix.template or go to our services page to directly choose and pay to buy the services we provide.'
              },
              {
                que: 'How much do your service cost?',
                ans: 'Our services can be availed at a minimum cost. Please visit info.phoenix-tw.com to get insights into the better purchase plans.'
              },
              {
                que: 'Do you offer any money-back guarantee?',
                ans: 'We offer refunds to customers who are eligible to get one under our terms and conditions, as well as our policies.'
              },
            ],
            faqs: [
              {
                que: 'Do you offer any customer service for your customers?',
                ans: 'We do. We have an enthusiastic team of customer service providers to help you resolve any relevant issues that might arise while using the services. Please contact support.phoenix.themewagon for further info'
              },
              {
                que: 'Do you offer any demo/trial version of your services?',
                ans: 'No, we don’t avail any prebooking or trial option. You can contact our support team for further info. '
              },
              {
                que: 'What currencies does Phoenix work with?',
                ans: 'We allow the return of all items within 30 days of your original order’s date. If you’re interested in returning your items, send us an email with your order number '
              },
              {
                que: 'How can I dropship with Phoenix?',
                ans: 'We allow the return of all items within 30 days of your original order’s date. If you’re interested in returning your items, send us an email with your o'
              },
              {
                que: 'What is Phoenix and how does it work?',
                ans: 'We allow the return of all items within 30 days of your original order’s date. I'
              },
              {
                que: 'How much does Shopify cost?',
                ans: 'original order’s date. If you’re interested in returning your items, send us an email with your order numb'
              },
            ]
          },
          {
            id: 'delivery-101',
            name: 'Delivery',
            icon: 'fa-solid fa-truck-fast',
            description: 'Answer each & every question about your product and service delivery, maintain customers.',
            topFaqs: [
              {
                que: 'Do you avail any delivery tracking option?',
                ans: 'Yes. You can track your order and shipment details through the purchase code that we send, and know the current status of your purchase'
              },
              {
                que: 'What happens if I’m not available to receive?',
                ans: 'Our delivery team will try to reach you if you’re not available, and you can choose to pick it up from our pick-up points'
              }
            ],
            faqs: [
              {
                que: 'What are your policies regarding missing or damaged product?',
                ans: 'We replace or refund for the damaged products, if our delivery personnel make any mistake. Note that, any damage on your or seller’s end is irreversible. '
              },
              {
                que: 'Do you offer same-day or any express delivery option?',
                ans: 'Yes, you can select your delivery option from the given options, and you’ll get the service accordingly. '
              },
              {
                que: 'What is the delivery cost?',
                ans: 'We have three different delivery options available for our customers. The costs hence differ, and you’ll get the details on info.phoenix.themewagon.'
              },
              {
                que: 'What is the proximity of your shipment?',
                ans: 'For three different categories of delivery options, our shipping time varies. This is dependent on the category/delivery option you choose.'
              }
            ]
          },
          {
            id: 'notification-101',
            name: 'Notification',
            icon: 'fa-solid fa-bell',
            description: 'Check and get all the necessary notices on the same page and board. Learn the FAQs here.',
            topFaqs: [
              {
                que: 'Do you allow customized notification option?',
                ans: 'Yes, you can customize and select the topics that you want to be notified about and remove the ones you think are unnecessary. '
              },
              {
                que: 'Are my notifications secure?',
                ans: 'Yes, we take data security seriously and all the information, including your notification types and other things, are protected and cannot be shared.'
              }
            ],
            faqs: [
              {
                que: 'Do you allow direct actions on your notification?',
                ans: 'Depending on the notification type, and your settings and privacy settings. Please remember, we do not allow open sharing of notifications.'
              },
              {
                que: 'Do you allow multi-device notification?',
                ans: 'Certainly! No need to worry about getting notified about anything as you can log in to multiple devices and get notified according to your preferred way.'
              },
              {
                que: 'Do you allow multi-language notification?',
                ans: 'We have a preselection checkbox to choose your preferred language to get notified in. You can always change the settings later.'
              },
              {
                que: 'Can I opt out anytime?',
                ans: 'You can opt out or modify the preferred notification option as you want to and opt out anytime.'
              }
            ]
          },
          {
            id: 'order-101',
            name: 'Order',
            icon: 'fa-solid fa-file-invoice-dollar',
            description: 'Check and have all your product order FAQs answered here. ',
            topFaqs: [
              {
                que: 'Do offer wholesale order option?',
                ans: 'Yes, you can choose the desired product and select the order option to bulk, and you’re good to go.'
              },
              {
                que: 'Can I change my order?',
                ans: 'If you’ve already clicked check out, then you’ll need to wait for the confirmation call before changing the order. We recommend deciding beforehand to avoid further hassles. '
              }
            ],
            faqs: [
              {
                que: 'Do you allow viewing the order history?',
                ans: 'Yes, you can see and manage your order history from the orders page that we have and keep your details personal.'
              },
              {
                que: 'Do you notify about the placed orders?',
                ans: 'You can palace personalize the notification option as you want to, and we’ll keep you updated accordingly about your orders and everything.'
              },
              {
                que: 'How do I track my orders?',
                ans: 'You can easily track all your currently placed orders with the ID number that we provided you. Please remember not to share the ID with any untrusted contact.'
              },
              {
                que: 'How do I know my order placement is confirmed?',
                ans: 'We’ll send an OTP (one time password) to verify and confirm the order, and you’ll be notified via your preferred notification method.'
              }
            ]
          },
          {
            id: 'networking-101',
            name: 'Networking',
            icon: 'fa-solid fa-circle-nodes',
            description: 'See and answer all the queries to help your clients and customers and build strong networking between your team and your clientele',
            topFaqs: [
              {
                que: 'What are some best features for networking coming with this template?',
                ans: 'Some features included in this template are responsiveness & compatibility, different contact form UIs, social pages and apps and many more. Explore and modify according to your wish and your resolution to grow!'
              },
              {
                que: 'How can I utilize networking to gain insights into customer/client needs and preferences?',
                ans: 'We provide detailed data visualization dashboards that can help you gain the required data to analyze and act according to your needs so that you get to enhance your growth through networking.'
              }
            ],
            faqs: [
              {
                que: 'Are there any specific configuration process applied to use the networking of your site?',
                ans: 'No, you can just use it as is. Yet, we recommend adjusting the page as you need, so you get the optimized feed to see.'
              },
              {
                que: 'How can I use networking to generate leads and attract new customers or clients?',
                ans: 'By using the default dashboards that we avail with the theme, you can log all your data and monitor the networking of your site.'
              },
              {
                que: 'How can I effectively network with customers and clients?',
                ans: 'Use our social apps pages to build any networking site and see yourself grow with enhanced and better networking options.'
              },
              {
                que: 'What graphs can I use to build strong relationships with customers and clients?',
                ans: 'We’ve added different data visualization charts with the template that can help you track your networking sites as well and help you in building a storing network. See the modules that came inclusive with the theme and you’ll get necessary insights.'
              }
            ]
          },
          {
            id: 'customize-101',
            name: 'Customize',
            icon: 'fa-solid fa-sliders',
            description: 'Answer customization related questions here for simple and easy assistance.',
            category: 'popular',
            topFaqs: [
              {
                que: 'Can I customize the design as needed?',
                ans: 'Yes, you can just go to: settings>site theme>design>change and customize according to your needs with easy filters and checkbox from the given ones. '
              },
              {
                que: 'Can I personalize the contents as I need?',
                ans: 'Yes, we allow easy and simple customization of feed and notification. You can select category and get the customized result on your feed.'
              }
            ],
            faqs: [
              {
                que: 'Can I integrate third-party extensions or plugins into the e-commerce site template?',
                ans: 'Yes, we’ve already installed necessary plugins and covered the most of what you might need. Also, you can integrate any third-party plugin that you need with our easy documentation.'
              },
              {
                que: 'Can I customize the checkout process on the e-commerce site template?',
                ans: 'You can edit and choose custom modules or import any from the Bootstrap components and customize the design as you want to.'
              },
              {
                que: 'Can I use the customized design and maintain responsiveness?',
                ans: 'You can if you follow the documentation accordingly and modify the codebase without error.'
              },
              {
                que: 'Is it possible to change the color scheme of the site template?',
                ans: 'We provide the theme color scheme in the box. You can choose any from there or use any custom color as your needs.'
              }
            ]
          },
          {
            id: 'marketing-101',
            name: 'Marketing',
            icon: 'fa-solid fa-bullhorn',
            description: 'Get all the marketing related questions answered here.',
            topFaqs: [
              {
                que: 'How is this theme going to help my marketing strategy?',
                ans: 'This template is SEO optimized and comes with built-in user-friendly dashboards that will help you track your leads, sales and help you get better insights into what you need to do for better growth.'
              },
              {
                que: 'Do I need any distinct plugin or software to use it?',
                ans: 'Certainly not, if you do not want to customize it totally. For full customization, please see our documentation.'
              }
            ],
            faqs: [
              {
                que: 'Can I use the template for multiple sites?',
                ans: 'Yes, we avail a multi-site option for this template. Please contact our support: support@phoenix.themewagon.'
              },
              {
                que: 'Do you avail necessary marketing support?',
                ans: 'We provide 24/7 technical support for the template and we cover related issues. Contact our helpline for further details.'
              },
              {
                que: 'Can I change the style and design while also maintaining site SEO?',
                ans: 'You certainly can, all our components are responsive and SEO optimized. Enjoy creating with Phoenix.'
              },
              {
                que: 'Can I customize the emails pages of the theme?',
                ans: 'Yes, our theme is totally customizable, and it will remain compatible and responsive even if you customize it. If you do not change or modify the codebase, there is nothing to worry about, since we provide 24/7 support for this theme.'
              }
            ]
          },
          {
            id: 'our-vision-101',
            name: 'Our Vision',
            icon: 'fa-solid fa-peace',
            description: 'We provide web development solution in an economically efficient way. Learn further from these FAQs here',
            topFaqs: [
              {
                que: 'What solutions do you offer?',
                ans: 'We take on-demand projects and will be available for contractual front-end development (React/Vue), back-end development (LaRavel/NodeJS), UX/UI design and search engine optimization (SEO).'
              },
              {
                que: 'What frameworks and technologies do you specialize in at our web development farm?',
                ans: 'Our efficient offers solutions including but not limited to HTML5, CSS3, JavaScript (such as React, Angular), PHP, Python, WordPress, Drupal, and Magento. We have experience working with various content management systems (CMS) and e-commerce platforms'
              }
            ],
            faqs: [
              {
                que: 'How do you ensure customer satisfaction?',
                ans: 'We achieve it by closely collaborating with our clients throughout the development process, actively seeking feedback, providing regular project updates, and ensuring that our solutions align with their business goals and objectives.'
              },
              {
                que: 'How does our web development provider ensure the security of websites and web applications?',
                ans: 'Security is a top priority for our web development provider. We implement industry best practices, such as secure coding techniques, data encryption, protection against common web vulnerabilities (e.g., Cross-Site Scripting, SQL injection), and user authentication mechanisms to ensure the confidentiality, integrity, and availability of your website or web application'
              },
              {
                que: 'How can you get started with our web development providers services?',
                ans: 'Simply reach out to our team, and we will schedule an initial consultation to discuss your project requirements, goals, and timelines. We will provide you with a tailored proposal outlining the recommended services, deliverables, and pricing. Once we have your approval, we will embark on the journey of bringing your vision to life.'
              }
            ]
          },
          {
            id: 'scheduling-101',
            name: 'Scheduling',
            icon: 'fa-solid fa-calendar-xmark',
            description: 'See everything related to our scheduling from these FAQs below:',
            topFaqs: [
              {
                que: 'Can I request changes to the project timeline after it has been finalized?',
                ans: 'If you require changes to the project timeline, please communicate with our team as early as possible. We will assess the feasibility of the requested changes and work with you to accommodate them if feasible.'
              },
              {
                que: 'Can I track the progress of my project and stay updated on the schedule?',
                ans: 'Absolutely! We provide regular project updates, including progress reports and milestone achievements. We can set up a communication channel where you can track project progress and stay informed about the schedule throughout the development process.'
              }
            ],
            faqs: [
              {
                que: 'Can I request an expedited timeline for my project?',
                ans: 'If you have a specific deadline or require an expedited timeline for your project, please inform us during the initial discussions. We will evaluate the feasibility and provide you with a realistic timeline based on the projects complexity and our resource availability.'
              },
              {
                que: 'Can I make changes to the project scope or requirements once the scheduling has been finalized?',
                ans: 'It’s recommended that you do not. Still, if you need to make changes to the project scope or requirements after scheduling, please communicate with our team as soon as possible. We will assess the impact of the changes on the schedule and provide you with revised timelines and any necessary adjustments.'
              },
              {
                que: 'Can your web development provider handle multiple projects simultaneously?',
                ans: 'Yes, our web development provider is equipped to handle multiple projects simultaneously. We have a dedicated team of developers and project managers who excel at multitasking and prioritizing tasks. We strive to allocate resources effectively to ensure that each project receives the attention it requires.'
              },
              {
                que: 'How far in advance should I contact your web development provider to schedule a project?',
                ans: 'We recommend reaching out to our web development provider as soon as you have a project in mind. Contacting us in advance allows us to allocate the necessary resources and plan our schedule accordingly. It also ensures that we can accommodate your project within your desired timeframe.'
              }
            ]
          },
        ]
      .col-md-6.col-xl-5.col-xxl-4
        .faq-sidebar.offcanvas.offcanvas-start.bg-soft.z-index-5.w-100#faq-offcanvas(data-bs-backdrop="false" data-vertical-category-offcanvas)
          ul.faq-category-tab.nav.nav-tabs.mb-10.mb-md-5.pb-3.pt-2.w-100.w-sm-75.w-md-100.mx-auto
            li.nav-item
              button#popular.nav-link.fw-semi-bold.me-3.fs-0(type='button' data-bs-toggle="tab" data-category-filter='popular') Popular Categories
            li.nav-item
              button#all.nav-link.fw-semi-bold.fs-0.active(type='button' data-bs-toggle="tab" data-category-filter='all') All Categories
          #faq-subcategory-tab.faq-subcategory-tab.nav.nav-tabs.w-sm-75.w-md-100.mx-auto.mb-4(style='width: 90%')
            each category, index in categories
              .nav-item.w-100(role='presentation' class=`${category.category ? category.category : ''} ${index !== categories.length - 1 ? 'mb-3' : 'mb-0'}`)
                button.category.nav-link.btn.bg-white.w-100.px-3.pt-4.pb-3.fs-0(id=`tab-${category.id}` data-bs-toggle='tab' data-bs-target=`#${category.id}` type='button' role='tab' aria-selected='false' class=`${index === 0 ? 'active': ''}` data-vertical-category-tab)
                  span.category-icon.text-800.fs-2(class=category.icon)
                  span.d-block.fs-2.fw-bolder.lh-1.text-900.mt-3.mb-2= category.name
                  span.d-block.text-900.fw-normal.mb-0.fs--1= category.description
      .col-md-6.col-xl-7.col-xxl-8.mt-md-11
        .faq-subcategory-content.tab-content
          .empty-header.d-none.d-md-block
          button.btn.btn-link.d-md-none.my-6.fs-0.ps-0(type="button" data-bs-toggle="offcanvas" data-bs-target="#faq-offcanvas") 
            span.fa-solid.fa-chevron-left.fs--1.me-2(data-fa-transform="up-2")
            | Categories
          each category, index in categories 
            .tab-pane.fade(id=`${category.id}` class=`${index === 0 ? 'active show': ''}`)
              ul.list-inline.mb-0
                each item in category.topFaqs
                  li.d-flex.gap-2.mb-6
                    span.fa-solid.fa-star.fs-0.text-primary
                    div
                      h4.mb-3.text-1000= item.que
                      p.mb-0.text-700= item.ans
              hr.text-300
              ul.faq-list.list-inline
                each item in category.faqs
                  li.d-flex.mt-6
                    span.fa-solid.fa-circle
                    div
                      h4.mb-3.text-1000= item.que
                      p.mb-0.text-700= item.ans
